extends layout

block content
  h1= title
  p Welcome to #{title}
  div.searchForm
    label Search
     div.input-group
       div.form-group
         input#searchInput.form-control
       div.input-group-btn
          button.btn.btn-default
            span.glyphicon.glyphicon-search
  div#searchResults

