doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src="http://code.jquery.com/jquery-1.11.2.min.js")
    script(type='text/javascript',src="/javascripts/bootstrap.min.js")
    script(type='text/javascript',src="/javascripts/searchClient.js")
  body
    block content