h4 Search Results #{data.hits.total}
div.row
   div.col-sm-2
      label Date
   div.col-sm-8
      label Event Details
each result in data.hits.hits
   div.row
      div.col-sm-2
         h6 #{result._source.date}
      div.col-sm-8
         div
            h5 #{result._source.name}
            p #{result._source.detail}



